.projects__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1.5rem;
}

@media (max-width: 380px) {
  .projects__grid {
    grid-template-columns: 1fr;
  }
}
